@media (prefers-color-scheme: dark) {

:root {

  --color-background: var(--p-color-black);
  --color-on-background: var(--p-color-white);
  --color-surface: var(--p-color-grey-900);
  --color-on-surface: var(--p-color-white);
  --color-primary: var(--p-color-purple-500);
  --color-on-primary: var(--p-color-white);

  /* Colors */
  --color-primary: var(--p-color-purple-500);
  --color-secondary: var(--p-color-cyan);
  --color-bg: var(--p-color-grey-900);
  --color-bg-muted: var(--p-color-grey-900);
  --color-fg: var(--p-color-white);
  --color-fg-muted: var(--p-color-grey-400);
  --color-border: var(--p-color-grey-800);

  /* Body */
  --body-color-bg: var(--color-bg);
  --body-color-fg: var(--color-fg);
  --color-link: var(--p-color-purple-200);
  --color-link-hover: var(--p-color-purple-100);

  /* Masthead */
  --c-masthead-color-bg: var(--p-color-black);
  --c-masthead-color-fg: var(--p-color-white);
  --c-nav-active-bg: var(--p-color-grey-600);
  --c-nav-active-fg: var(--p-color-white);
  --c-nav-hover-bg: var(--p-color-grey-100);
  --c-nav-hover-fg: var(--p-color-grey-600);

  /* Footer */
  --c-footer-color-bg: var(--p-color-purple-950);
  --c-footer-color-muted-fg: var(--p-color-grey-400);
  --c-footer-color-link: var(--color-primary);
  --c-footer-color-link-hover: var(--color-secondary);
  --c-footer-color-fg-muted: var(--p-color-grey-400);

  /* Page header */
  /* --page-header-color-bg: var(--color-primary);
  --page-header-color-fg: var(--color-fg);
  --page-header-accent-color: var(--color-fg); */

  /* Shoelace */
  .sl-theme-dark {
    /* your custom styles here */
  }
}

}