:root {

  --s-color-background: var(--p-color-white);
  --s-color-on-background: var(--p-color-grey-700);
  --s-color-surface: var(--p-color-grey-50);
  --s-color-on-surface: var(--p-color-grey-800);
  --s-color-primary: var(--p-color-purple-500);
  --s-color-on-primary: var(--p-color-white);

  /* Colors */
  --s-color-secondary: var(--p-color-cyan);
  --s-color-bg: var(--p-color-white);
  --s-color-bg-muted: var(--p-color-grey-50);
  --s-color-fg: var(--p-color-grey-700);
  --s-color-fg-muted: var(--p-color-grey-500);
  --s-color-border: var(--p-color-grey-200);

  color-scheme: light;
  accent-color: var(--s-color-primary);

  /* Body */
  --body-color-bg: var(--s-color-bg);
  --body-color-fg: var(--s-color-fg);
  --color-link: var(--p-color-purple-600);
  --color-link-hover: var(--s-color-primary);

  /* Masthead */
  --c-masthead-color-bg: var(--s-color-primary);
  --c-masthead-color-fg: var(--color-on-primary);
  --c-nav-active-bg: var(--p-color-grey-600);
  --c-nav-active-fg: var(--p-color-white);
  --c-nav-hover-bg: var(--p-color-grey-100);
  --c-nav-hover-fg: var(--p-color-grey-600);

  /* Footer */
  --c-footer-color-bg: var(--p-color-grey-900);
  --c-footer-color-muted-fg: var(--p-color-grey-400);
  --c-footer-color-link: var(--color-primary);
  --c-footer-color-link-hover: var(--color-secondary);
  --c-footer-color-fg-muted: var(--p-color-grey-400);

  /* Page header
  --page-header-color-bg: var(--color-primary);
  --page-header-color-fg: var(--color-fg);
  --page-header-accent-color: var(--color-fg); */

  /* Shoelace */
  .sl-theme-light {
    /* your custom styles here */
  }
}