:root {
  --text-opacity: 1; /* Default opacity value */
  --p-color-white: rgba(255, 255, 255, var(--text-opacity));
  --p-color-black: rgba(16, 25, 33, var(--text-opacity));
  --p-color-yellow-bg: rgba(255, 245, 204, var(--text-opacity));
  --p-color-blue-bg: rgba(204, 231, 245, var(--text-opacity));
  --p-color-blue: rgba(0, 66, 191, var(--text-opacity));
  --p-color-cyan: rgba(5, 240, 201, var(--text-opacity));
  --p-color-purple-50: rgba(245, 234, 255, var(--text-opacity));
  --p-color-purple-100: rgba(224, 179, 255, var(--text-opacity));
  --p-color-purple-200: rgba(204, 128, 255, var(--text-opacity));
  --p-color-purple-300: rgba(184, 77, 255, var(--text-opacity));
  --p-color-purple-400: rgba(163, 25, 255, var(--text-opacity));
  --p-color-purple-500: rgba(101, 15, 202, var(--text-opacity));
  --p-color-purple-600: rgba(82, 13, 158, var(--text-opacity));
  --p-color-purple-700: rgba(63, 11, 115, var(--text-opacity));
  --p-color-purple-800: rgba(44, 9, 71, var(--text-opacity));
  --p-color-purple-900: rgba(25, 7, 28, var(--text-opacity));
  --p-color-purple-950: rgba(10, 4, 13, var(--text-opacity));
  --p-color-purple-muted: rgba(98, 60, 174, var(--text-opacity));
  --p-color-purple-light: rgba(163, 93, 244, var(--text-opacity));
  --p-color-grey-10: rgba(244, 245, 246, var(--text-opacity));
  --p-color-grey-50: rgba(249, 250, 251, var(--text-opacity));
  --p-color-grey-100: rgba(243, 244, 246, var(--text-opacity));
  --p-color-grey-200: rgba(229, 231, 235, var(--text-opacity));
  --p-color-grey-300: rgba(209, 213, 219, var(--text-opacity));
  --p-color-grey-400: rgba(156, 163, 175, var(--text-opacity));
  --p-color-grey-500: rgba(107, 114, 128, var(--text-opacity));
  --p-color-grey-600: rgba(75, 85, 99, var(--text-opacity));
  --p-color-grey-700: rgba(46, 46, 46, var(--text-opacity));
  --p-color-grey-800: rgba(37, 37, 37, var(--text-opacity));
  --p-color-grey-900: rgba(28, 28, 28, var(--text-opacity));
  --p-color-black: rgba(18, 18, 18, var(--text-opacity));
}
