:root {
  --p-color-white: #fff;
  --p-color-black: #101921;
  --p-color-yellow-bg: #fff5cc;
  --p-color-blue-bg: #cce7f5;
  --p-color-blue: #0042bf;
  --p-color-cyan: #05f0c9;
  --p-color-purple-50: #f5eaff;
  --p-color-purple-100: #e0b3ff;
  --p-color-purple-200: #cc80ff;
  --p-color-purple-300: #b84dff;
  --p-color-purple-400: #a319ff;
  --p-color-purple-500: #650fca;
  --p-color-purple-600: #520d9e;
  --p-color-purple-700: #3f0b73;
  --p-color-purple-800: #2c0947;
  --p-color-purple-900: #19071c;
  --p-color-purple-950: #0a040d;
  --p-color-purple-muted: #623cae;
  --p-color-purple-light: #a35df4;
  --p-color-grey-10: #f4f5f6;
  --p-color-grey-50: #f9fafb;
  --p-color-grey-100: #f3f4f6;
  --p-color-grey-200: #e5e7eb;
  --p-color-grey-300: #d1d5db;
  --p-color-grey-400: #9ca3af;
  --p-color-grey-500: #6b7280;
  --p-color-grey-600: #4b5563;
  --p-color-grey-700: #2E2E2E;
  --p-color-grey-800: #252525;
  --p-color-grey-900: #1C1C1C;
  --p-color-black: #121212;
}
