/* Styles for wa-details components */
wa-details.event__details {
  --spacing: var(--p-space-xs);
}

wa-details.event__details::part(header) {
  font-size: var(--p-step--1);
}

wa-details.event__details::part(summary) {
  user-select: none;
}

wa-details.event__details::part(content) {
  --flow-space: var(--p-space-3xs-2xs);
}
