.event {
  border: 1px solid var(--s-color-border);
  border-radius: var(--s-border-radius);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: var(--p-space-xs-m);
}

.event__title {
  font-size: var(--p-step-2);
  margin-bottom: var(--p-space-3xs);
  order: 3;
  text-wrap: balance;
}

.event__dates {
  display: flex;
  flex-wrap: wrap;
  font-size: var(--p-step--1);
  /* gap: 0.2rem; */
  .fa-arrow-right-long {
    margin: 0 0.3rem;
  }
}

.event__meta {
  font-size: var(--p-step--1);
  display: flex;
  column-gap: 0.5em;
  flex-wrap: wrap;
}

.event__delivery {
  font-size: var(--p-step--1);
  margin-bottom: var(--p-space-xs);
  order: 3;
  white-space: pre-wrap;
}

[itemprop='eventAttendanceMode'] {
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
}

[itemprop='eventAttendanceMode'] > * {
  flex: 0 0 auto;
}

.event__online {
  white-space: nowrap;
}

.event__dateStart {
  display: inline-flex;
  gap: 0.3em;
  white-space: nowrap;
}

.event__dateEnd {
  white-space: nowrap;
}

.event__description {
  order: 4;
}

.event__children {
  order: 5;
}

.event__badges {
  order: 6;
}

.child-event__title {
  display: block;
  text-wrap: pretty;
}

.event--theme {
  background: none;
  border: none;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  padding: 0 var(--p-space-xs-m);
  .event__title {
    font-size: var(--p-step-0);
    order: 2;
  }
  .event__dates {
    order: 1;
    font-size: var(--p-step--1);
  }
  .event__location {
    font-size: var(--p-step--1);
  }
}

.event--deadline {
  background: none;
  border: none;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  padding: 0 var(--p-space-xs-m);
  .event__title {
    font-size: var(--p-step-0);
    margin-bottom: 0;
    margin-top: var(--p-space-3xs);
    order: unset;
  }
}

.month {
  padding: var(--p-space-s-l) 0;
}

.month:first-child {
  padding-top: 0;
}

.month__heading {
  padding: 0 var(--p-space-xs-m);
}
