.event {
  border: 1px solid var(--s-color-border);
  border-radius: var(--s-border-radius);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.event__title {
  font-size: var(--p-step-2);
  margin-bottom: var(--p-space-3xs);
  order: 3;
}

.event__dates {
  font-size: var(--p-step--1);
}

.event__delivery {
  display: flex;
  font-size: var(--p-step--1);
  gap: 0.5em;
  margin-bottom: var(--p-space-xs);
  order: 3;
}

.event__online {
  white-space: nowrap;
}

.event__dateStart {
  display: inline-block;
  white-space: nowrap;
}

.event__dateEnd {
  white-space: nowrap;
}

.event__description {
  order: 4;
}

.event__children {
  order: 5;
}

.event__badges {
  order: 6;
}

.event--theme {
  background: none;
  border: none;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  padding: 0 var(--p-space-xs-m);
  .event__title {
    font-size: var(--p-step-0);
    order: 2;
  }
  .event__dates {
    order: 1;
    font-size: var(--p-step--1);
  }
  .event__location {
    font-size: var(--p-step--1);
  }
}

.month {
  padding: var(--p-space-s-l) 0;
}

.month:first-child {
  padding-top: 0;
}

.month__heading {
  padding: 0 var(--p-space-xs-m);
}
