#filters {
  align-items: center;
  background-color: var(--s-color-background);
  border-bottom: 1px solid var(--s-color-border);
  margin-bottom: var(--p-space-s-l);
  position: sticky;
  top: -1px;
  z-index: 1;
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .status {
    align-items: center;
    margin-right: var(--p-space-xs-m);
    display: flex;
    flex-direction: row;
  }
  .filter-option {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #filter-reset {
    margin-left: var(--p-space-xs-m);
  }
}

#filters.is-pinned {
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.08),
    0 2px 4px rgba(0, 0, 0, 0.08);
  border-bottom: 1px solid var(--s-color-border);
}

@media (max-width: 500px) {
  #filters #filter-reset {
    display: none;
  }
}

#filter-drawer {
  --c-focus-ring-color: var(--p-color-white);
}

#filter-drawer .actions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#filter-drawer sl-button::part(base):focus-visible {
  outline-color: var(--c-focus-ring-color);
}