.checkbox {
  align-items: center;
  display: flex;
  label {
    margin-left: var(--space-2xs);
    user-select: none;
  }
}

[type="checkbox"] {
  width: 16px;
  height: 16px;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
}

fieldset {
  border-width: 1px;
  border-color: var(--color-border);
  border-radius: var(--space-2xs);
  legend {
    font-size: var(--step--1);
  }
}