.masthead {
  background-color: var(--masthead-color-bg);
  color: var(--masthead-color-fg);
  padding: var(--space-s-m) var(--space-m-l);
  .inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
}

@media screen and (max-width: 580px) {
  .masthead .inner {
    flex-direction: column;
  }

  .masthead .inner .logo {
    margin-bottom: var(--space-s);
  }
}

.masthead .logo {
  max-width: 12rem;
}

.skip {
  display: inline-block;
  padding: var(--space-2xs) var(--space-m-l);
}

.skip:not(:focus):not(:active) {
  position: absolute;
  top: -1000px;
  left: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.skip:focus {
  display: block;
  outline-offset: -.2em;
  text-decoration: none;
}