.masthead {
  background-color: var(--c-masthead-color-bg);
  color: var(--c-masthead-color-fg);
  padding: var(--p-space-s-m) var(--p-space-m-l);
  .inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
}

@media screen and (max-width: 580px) {
  .masthead .inner {
    flex-direction: column;
  }

  .masthead .inner .logo {
    margin-bottom: var(--p-space-s);
  }
}

.masthead .logo {
  max-width: 12rem;
}
