/* Header styling for wa-page header slot */
.masthead {
  --c-focus-ring-color: var(--c-masthead-focus-ring-color);
  background-color: var(--c-masthead-color-bg);
  color: var(--c-masthead-color-fg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--p-space-xs);
  width: 100%;
}

@media screen and (max-width: 580px) {
  .masthead {
    flex-direction: column;
  }

  .masthead .logo {
    margin-bottom: var(--p-space-s);
  }
}

.masthead__logo a {
  display: block;
  text-decoration: none;
}

.masthead__actions {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--p-space-xs);
}

.masthead .logo {
  max-width: 12rem;
}
