.primaryNav {
  background-color: rgba(0, 0, 0, 0.2);
  /* Set border radius based on adding 0.5em to the --space-2xs variable */
  border-radius: 2em;
  font-size: 1rem;
  padding: var(--p-space-2xs);
}

.primaryNav__list {
  display: flex;
  flex-wrap: wrap;
}

.primaryNav__list > * + * {
  margin-left: var(--flow-space, var(--p-space-2xs));
}

.primaryNav__link {
  border-radius: 2em;
  color: var(--p-color-white);
  display: inline-block;
  font-weight: bold;
  padding: 0.4em 0.8em;
}

.primaryNav__link:link {
  color: var(--p-color-white);
  text-decoration: none;
}

.primaryNav__link:visited,
.primaryNav__link:hover,
.primaryNav__link:active,
.primaryNav__link:focus {
  color: var(--p-color-white);
}

.primaryNav__link:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.primaryNav__link[aria-current='page'] {
  background-color: var(--p-color-white);
  color: var(--s-color-primary);
}
