:root,
:host,
.sl-theme-light {
  --sl-focus-ring-color: var(--c-focus-ring-color);
  --sl-focus-ring-offset: var(--c-focus-ring-offset);
  --sl-focus-ring-width: var(--c-focus-ring-width);
  --sl-panel-background-color: var(--c-panel-color-bg);
}

sl-badge[variant='success']::part(base) {
  background-color: var(--sl-color-success-700);
}

.checkbox--medium {
  font-size: var(--p-step-1);
}

sl-checkbox[size='medium']::part(label) {
  font-size: var(--p-step--1);
}

sl-menu-item:focus-visible {
  outline: none;
}
