#today {
  --hover-color: var(--color-secondary);
  background-color: var(--color-bg-muted);
  color: var(--body-color-fg);
  padding: var(--space-s-l) 0;
  .event--theme {
    background-color: transparent;
    color: var(--color-body-fg);
    padding: 0;
  }
}

#today-heading {
  border-bottom: 1px solid var(--color-border);
  padding-bottom: var(--space-s);
}
