h1 {
  font-size: var(--p-step-4);
  font-weight: 700;
}

h2 {
  font-size: var(--p-step-3);
  font-weight: 700;
}

h3 {
  font-size: var(--p-step-2);
  font-weight: 600;
}

h4 {
  font-size: var(--p-step-1);
  font-weight: 600;
}

h5 {
  font-size: var(--p-step-1);
  font-weight: 600;
}

body {
  font-family: 'Atkinson Hyperlegible Next', sans-serif;
  font-size: var(--p-step-0);
  font-weight: 400;
}

a {
  text-decoration: underline;
}

a {
  text-underline-offset: 0.25em;
}

a:link,
a:visited {
  color: var(--c-color-link);
  text-decoration: underline;
}

a:hover,
a:active,
a:focus {
  color: var(--c-color-link-hover);
  text-decoration: underline;
}

small {
  font-size: var(--p-step--1);
}

abbr[title] {
  text-decoration: underline dotted 1px;
  text-underline-offset: 0.15em;
}

body {
  color: var(--s-color-on-background);
}

hgroup :is(h1, h2, h3, h4, h5, h6) {
  margin-bottom: 0;
}

p {
  text-wrap: pretty;
}
