h1 {
  font-size: var(--p-step-5);
  margin-bottom: 2rem;
}

h2 {
  font-family: 'Roboto Slab', sans-serif;
  font-size: var(--p-step-4);
  font-weight: 700;
  margin-bottom: var(--p-space-m);
}

h3 {
  font-size: var(--p-step-2);
  font-weight: 400;
}

h4 {
  font-size: var(--p-step-1);
}

h5 {
  font-size: var(--p-step-1);
}

body {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: var(--p-step-0);
  font-weight: 400;
}

/* :is(h1,h2,h3,h4,h5,h6) {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 400;
} */

a {
  text-decoration: underline;
}

a:link,
a:visited {
  color: var(--c-color-link);
  text-decoration: underline;
}

a:hover,
a:active,
a:focus {
  color: var(--c-color-link-hover);
  text-decoration: underline;
}

small {
  font-size: var(--p-step--1);
}

abbr[title] {
  text-decoration: underline dotted 1px;
  text-underline-offset: 0.15em;
}

body {
  color: var(--s-color-on-background);
}

hgroup :is(h1, h2, h3, h4, h5, h6) {
  margin-bottom: 0;
}
