/* 
 * Eventua11y - Web Awesome Migration
 * No custom styles - using Web Awesome only
 */

/* Old style imports - kept for reference during migration */
/* @import url('themes/_light.css'); */
/* @import url('themes/_dark.css'); */
/* @import url('_reset.css'); */
/* @import url('_variables.css'); */
/* @import url('_color.css'); */
/* @import url('_typo.css'); */
/* @import url('_buttons.css'); */
/* @import url('_disclosure.css'); */
/* @import url('_masthead.css'); */
/* @import url('_nav.css'); */
/* @import url('_events.css'); */
/* @import url('_today.css'); */
/* @import url('_filters.css'); */
/* @import url('_forms.css'); */
/* @import url('_footer.css'); */
/* @import url('_utilities.css'); */
