---
import DefaultLayout from '../layouts/default.astro';
---

<DefaultLayout title="Curation Policy">
  <div class="container readable py-l flow">
    <h1>Event Curation Policy</h1>

    <p>Eventua11y is independently curated by <a href="https://mattobee.com">Matt Obee</a>, guided by this curation policy. None of the events listed have paid to be there. The following criteria is used to evaluate the suitability of events before they appear in the calendar.</p>

    <h2>Subject matter</h2>

    <p>Eventua11y lists events that focus on digital accessibility or inclusive design. Broader conferences must include at least one substantive accessibility session. Events may be listed before speakers are announced if at least one accessibility session is expected, but will be removed if none is eventually confirmed.</p>

    <h3>Overlay products</h3>

    <p>Eventua11y will not list events that deceptively market <a href="https://overlayfactsheet.com/en/">overlay solutions</a> as providing automated compliance with laws or standards.</p>

    <h2>Language</h2>

    <p>Eventua11y currently only lists events that are delivered in English.</p>

    <h2>Accessibility Policy</h2>

    <p>The event should have an Accessibility Policy that outlines the measures in place to ensure an inclusive experience for all attendees, including information about physical accessibility, digital accessibility, and available accommodations such as sign language interpreters or captioning. The event's official website must not have significant accessibility defects.</p>

    <h2>Code of Conduct</h2>

    <p>The event should have a Code of Conduct explaining the expected standards of behaviour for all participants, as well as the process for reporting and addressing any incidents of harassment, discrimination, or other unacceptable conduct. Refer to the template at <a href="https://confcodeofconduct.com/">CodeOfConduct.com</a> for an example.</p>

    <h2>Representation</h2>

    <p>Organisers should strive to include a diverse range of speakers and perspectives, ensuring representation from individuals with varied experience, backgrounds, and expertise. This includes making a conscious effort to include disabled people with lived experience of disability. Refer to <a href="https://diversitycharter.org/">The Diversity Charter</a> for more information.</p>

    <h2>Non-commercial focus</h2>

    <p>Events should prioritise learning and community building over aggressive sales or promotions. Commercial organisers and sponsors are fine, but their involvement should align with the event's mission to educate and support the community.</p>

    <h2>Meetups</h2>

    <p>Events in Eventua11y's main calendar are typically conferences that happen annually. Smaller meetups that happen more regularly are not currently included, but they may be incorporated in some way in the future.</p>
  </div>
  <!-- End container -->
</DefaultLayout>
