---
import DefaultLayout from '../layouts/default.astro';
import Today from '../components/Today.vue';
import UpcomingEvents from '../components/UpcomingEvents.vue';
import FilterBar from '../components/FilterBar.vue';
import Filters from '../components/Filters.vue';

---
<DefaultLayout>
  <Today />
  <FilterBar client:load />
  <Filters client:load />
  <div class="container readable">
    <UpcomingEvents client:load />
  </div>
  <!-- End container -->
</DefaultLayout>