---
import DefaultLayout from '../layouts/default.astro';
import Today from '../components/Today.vue';
import UpcomingEvents from '../components/UpcomingEvents.vue';
import FilterBar from '../components/FilterBar.vue';
import Filters from '../components/Filters.vue';

// Disable prerendering to enable SSR
export const prerender = false;

---

<DefaultLayout>
  <Today client:load />
  <FilterBar client:only="vue" />
  <Filters client:idle />
  <div class="container readable py-l">
    <UpcomingEvents client:load />
  </div>
  <!-- End container -->
</DefaultLayout>