---
import DefaultLayout from '../layouts/default.astro';
import EventList from '../components/EventList.vue';
import MonthNav from '../components/MonthNav.vue';

// Disable prerendering to enable SSR
export const prerender = false;

---

<DefaultLayout title="Past accessibility events">
  <div id="events" role="region" aria-labelledby="past-events-heading" class="wa-padding-l">
    <h1 id="past-events-heading" class="wa-visually-hidden">Past accessibility events</h1>
    <EventList type="past" client:load />
  </div>
  <Fragment slot="aside">
    <MonthNav client:load contentRegion='#events' showTodayLink={false} />
  </Fragment>
</DefaultLayout>

