---
import DefaultLayout from '../layouts/default.astro';
import EventList from '../components/EventList.vue';

// Disable prerendering to enable SSR
export const prerender = false;

---

<DefaultLayout title="Past accessibility events">
  <div class="container readable py-l">
    <h1 class="sr-only">Past accessibility events</h1>
    <EventList type="past" client:load />
  </div>
  <!-- End container -->
</DefaultLayout>

