---
import DefaultLayout from '../layouts/default.astro';
import EventList from '../components/EventList.vue';
import MonthNav from '../components/MonthNav.vue';
import StaticEventList from '../components/StaticEventList.astro';

// Disable prerendering to enable SSR
export const prerender = false;
---

<DefaultLayout title="Past accessibility events">
  <div class="container grid">
    <div
      id="events"
      role="region"
      aria-labelledby="past-events-heading"
      class="py-l readable main-content"
    >
      <h1 id="past-events-heading" class="sr-only">
        Past accessibility events
      </h1>
      <EventList type="past" client:load />
      <noscript>
        <StaticEventList type="past" />
      </noscript>
    </div>
    <MonthNav id="month-nav" class="mb-l" client:load contentRegion="#events" />
  </div>
  <!-- End container -->
</DefaultLayout>
