/* Single utility classes */
.pt-0 {
  padding-top: 0;
}

.pt-s {
  padding-top: var(--p-space-s);
}

.pt-m {
  padding-top: var(--p-space-m);
}

.pt-l {
  padding-top: var(--p-space-l);
}

.pt-xl {
  padding-top: var(--p-space-xl);
}

.pt-2xl {
  padding-top: var(--p-space-2xl);
}

.pt-3xl {
  padding-top: var(--p-space-3xl);
}

.pb-0 {
  padding-bottom: 0;
}

.pb-s {
  padding-bottom: var(--p-space-s);
}

.pb-m {
  padding-bottom: var(--p-space-m);
}

.pb-l {
  padding-bottom: var(--p-space-l);
}

.pb-xl {
  padding-bottom: var(--p-space-xl);
}

.pb-2xl {
  padding-bottom: var(--p-space-2xl);
}

.pb-3xl {
  padding-bottom: var(--p-space-3xl);
}

.pr-0 {
  padding-right: 0;
}

.pr-s {
  padding-right: var(--p-space-s);
}

.pr-m {
  padding-right: var(--p-space-m);
}

.pr-l {
  padding-right: var(--p-space-l);
}

.pr-xl {
  padding-right: var(--p-space-xl);
}

.pr-2xl {
  padding-right: var(--p-space-2xl);
}

.pr-3xl {
  padding-right: var(--p-space-3xl);
}

.pl-0 {
  padding-left: 0;
}

.pl-s {
  padding-left: var(--p-space-s);
}

.pl-m {
  padding-left: var(--p-space-m);
}

.pl-l {
  padding-left: var(--p-space-l);
}

.pl-xl {
  padding-left: var(--p-space-xl);
}

.pl-2xl {
  padding-left: var(--p-space-2xl);
}

.pl-3xl {
  padding-left: var(--p-space-3xl);
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.px-s {
  padding-left: var(--p-space-s);
  padding-right: var(--p-space-s);
}

.px-m {
  padding-left: var(--p-space-m);
  padding-right: var(--p-space-m);
}

.px-l {
  padding-left: var(--p-space-l);
  padding-right: var(--p-space-l);
}

.px-xl {
  padding-left: var(--p-space-xl);
  padding-right: var(--p-space-xl);
}

.px-2xl {
  padding-left: var(--p-space-2xl);
  padding-right: var(--p-space-2xl);
}

.px-3xl {
  padding-left: var(--p-space-3xl);
  padding-right: var(--p-space-3xl);
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-s {
  padding-top: var(--p-space-s);
  padding-bottom: var(--p-space-s);
}

.py-m {
  padding-top: var(--p-space-m);
  padding-bottom: var(--p-space-m);
}

.py-l {
  padding-top: var(--p-space-l);
  padding-bottom: var(--p-space-l);
}

.py-xl {
  padding-top: var(--p-space-xl);
  padding-bottom: var(--p-space-xl);
}

.py-2xl {
  padding-top: var(--p-space-2xl);
  padding-bottom: var(--p-space-2xl);
}

.py-3xl {
  padding-top: var(--p-space-3xl);
  padding-bottom: var(--p-space-3xl);
}

.px-auto {
  padding-left: auto;
  padding-right: auto;
}

/* One-up pairs utility classes */
.pt-3xs-2xs {
  padding-top: var(--p-space-3xs-2xs);
}

.pt-2xs-xs {
  padding-top: var(--p-space-2xs-xs);
}

.pt-xs-s {
  padding-top: var(--p-space-xs-s);
}

.pt-s-m {
  padding-top: var(--p-space-s-m);
}

.pt-m-l {
  padding-top: var(--p-space-m-l);
}

.pt-l-xl {
  padding-top: var(--p-space-l-xl);
}

.pt-xl-2xl {
  padding-top: var(--p-space-xl-2xl);
}

.pt-2xl-3xl {
  padding-top: var(--p-space-2xl-3xl);
}

.pb-3xs-2xs {
  padding-bottom: var(--p-space-3xs-2xs);
}

.pb-2xs-xs {
  padding-bottom: var(--p-space-2xs-xs);
}

.pb-xs-s {
  padding-bottom: var(--p-space-xs-s);
}

.pb-s-m {
  padding-bottom: var(--p-space-s-m);
}

.pb-m-l {
  padding-bottom: var(--p-space-m-l);
}

.pb-l-xl {
  padding-bottom: var(--p-space-l-xl);
}

.pb-xl-2xl {
  padding-bottom: var(--p-space-xl-2xl);
}

.pb-2xl-3xl {
  padding-bottom: var(--p-space-2xl-3xl);
}

.pr-3xs-2xs {
  padding-right: var(--p-space-3xs-2xs);
}

.pr-2xs-xs {
  padding-right: var(--p-space-2xs-xs);
}

.pr-xs-s {
  padding-right: var(--p-space-xs-s);
}

.pr-s-m {
  padding-right: var(--p-space-s-m);
}

.pr-m-l {
  padding-right: var(--p-space-m-l);
}

.pr-l-xl {
  padding-right: var(--p-space-l-xl);
}

.pr-xl-2xl {
  padding-right: var(--p-space-xl-2xl);
}

.pr-2xl-3xl {
  padding-right: var(--p-space-2xl-3xl);
}

.pl-3xs-2xs {
  padding-left: var(--p-space-3xs-2xs);
}

.pl-2xs-xs {
  padding-left: var(--p-space-2xs-xs);
}

.pl-xs-s {
  padding-left: var(--p-space-xs-s);
}

.pl-s-m {
  padding-left: var(--p-space-s-m);
}

.pl-m-l {
  padding-left: var(--p-space-m-l);
}

.pl-l-xl {
  padding-left: var(--p-space-l-xl);
}

.pl-xl-2xl {
  padding-left: var(--p-space-xl-2xl);
}

.pl-2xl-3xl {
  padding-left: var(--p-space-2xl-3xl);
}

.px-3xs-2xs {
  padding-left: var(--p-space-3xs-2xs);
  padding-right: var(--p-space-3xs-2xs);
}

.px-2xs-xs {
  padding-left: var(--p-space-2xs-xs);
  padding-right: var(--p-space-2xs-xs);
}

.px-xs-s {
  padding-left: var(--p-space-xs-s);
  padding-right: var(--p-space-xs-s);
}

.px-s-m {
  padding-left: var(--p-space-s-m);
  padding-right: var(--p-space-s-m);
}

.px-m-l {
  padding-left: var(--p-space-m-l);
  padding-right: var(--p-space-m-l);
}

.px-l-xl {
  padding-left: var(--p-space-l-xl);
  padding-right: var(--p-space-l-xl);
}

.px-xl-2xl {
  padding-left: var(--p-space-xl-2xl);
  padding-right: var(--p-space-xl-2xl);
}

.px-2xl-3xl {
  padding-left: var(--p-space-2xl-3xl);
  padding-right: var(--p-space-2xl-3xl);
}

.py-3xs-2xs {
  padding-top: var(--p-space-3xs-2xs);
  padding-bottom: var(--p-space-3xs-2xs);
}

.py-2xs-xs {
  padding-top: var(--p-space-2xs-xs);
  padding-bottom: var(--p-space-2xs-xs);
}

.py-xs-s {
  padding-top: var(--p-space-xs-s);
  padding-bottom: var(--p-space-xs-s);
}

.py-s-m {
  padding-top: var(--p-space-s-m);
  padding-bottom: var(--p-space-s-m);
}

.py-m-l {
  padding-top: var(--p-space-m-l);
  padding-bottom: var(--p-space-m-l);
}

.py-l-xl {
  padding-top: var(--p-space-l-xl);
  padding-bottom: var(--p-space-l-xl);
}

.py-xl-2xl {
  padding-top: var(--p-space-xl-2xl);
  padding-bottom: var(--p-space-xl-2xl);
}

.py-2xl-3xl {
  padding-top: var(--p-space-2xl-3xl);
  padding-bottom: var(--p-space-2xl-3xl);
}

.px-auto {
  padding-left: auto;
  padding-right: auto;
}
