---
import Logo from '../images/eventua11y_logo_wordmark_white.svg';
---

<footer id="global-footer">
  <div class="container">
    <a href="/" class="d-inline-block"
      ><Logo class="logo" aria-label="Eventua11y" /></a
    >
    <div class="footer-grid mb-l">
      <div class="panel">
        <p class="text-small">
          Eventua11y helps you find accessibility conferences, workshops, and
          events, both online and in-person. From technical workshops that delve
          into the nitty-gritty of coding for accessibility, to broader
          conferences discussing policy, advocacy, and inclusive design
          principles, there's something for everyone.
        </p>
      </div>
      <div class="panel">
        <p class="text-small">
          Eventua11y is independently curated by <a href="https://mattobee.com/"
            >Matt Obee</a
          >, guided by its <a href="/curation-policy">event curation policy</a>.
          This website is an <a
            href="https://github.com/eventua11y/eventua11y.com"
            >open source project</a
          > and you're welcome to contribute by writing code, testing for bugs, contributing
          ideas, or suggesting events. If you'd like to <a
            href="https://buymeacoffee.com/mattobee">buy Matt a coffee</a
          >, that'd be cool too.
        </p>
      </div>
    </div>
    <ul role="list" class="social">
      <li>
        <a
          class="button"
          itemprop="sameAs"
          rel="me"
          href="https://github.com/eventua11y"
          title="GitHub"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 496 512"
            class="icon"
            aria-hidden="true"
            fill="currentColor"
            ><path
              d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"
            ></path></svg
          >
        </a>
      </li>
      <li>
        <a
          class="button"
          itemprop="sameAs"
          rel="me"
          href="https://mastodon.social/@eventua11y"
          title="Mastodon"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
            class="icon"
            aria-hidden="true"
            fill="currentColor"
            ><path
              d="M433 179.11c0-97.2-63.71-125.7-63.71-125.7-62.52-28.7-228.56-28.4-290.48 0 0 0-63.72 28.5-63.72 125.7 0 115.7-6.6 259.4 105.63 289.1 40.51 10.7 75.32 13 103.33 11.4 50.81-2.8 79.32-18.1 79.32-18.1l-1.7-36.9s-36.31 11.4-77.12 10.1c-40.41-1.4-83-4.4-89.63-54a102.54 102.54 0 0 1-.9-13.9c85.63 20.9 158.65 9.1 178.75 6.7 56.12-6.7 105-41.3 111.23-72.9 9.8-49.8 9-121.5 9-121.5zm-75.12 125.2h-46.63v-114.2c0-49.7-64-51.6-64 6.9v62.5h-46.33V197c0-58.5-64-56.6-64-6.9v114.2H90.19c0-122.1-5.2-147.9 18.41-175 25.9-28.9 79.82-30.8 103.83 6.1l11.6 19.5 11.6-19.5c24.11-37.1 78.12-34.8 103.83-6.1 23.71 27.3 18.4 53 18.4 175z"
            ></path></svg
          >
        </a>
      </li>
      <li>
        <a
          class="button"
          itemprop="sameAs"
          rel="me"
          href="https://bsky.app/profile/eventua11y.com"
          title="Bluesky"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            class="icon"
            aria-hidden="true"
            fill="currentColor"
            ><path
              d="M111.8 62.2C170.2 105.9 233 194.7 256 242.4c23-47.6 85.8-136.4 144.2-180.2c42.1-31.6 110.3-56 110.3 21.8c0 15.5-8.9 130.5-14.1 149.2C478.2 298 412 314.6 353.1 304.5c102.9 17.5 129.1 75.5 72.5 133.5c-107.4 110.2-154.3-27.6-166.3-62.9l0 0c-1.7-4.9-2.6-7.8-3.3-7.8s-1.6 3-3.3 7.8l0 0c-12 35.3-59 173.1-166.3 62.9c-56.5-58-30.4-116 72.5-133.5C100 314.6 33.8 298 15.7 233.1C10.4 214.4 1.5 99.4 1.5 83.9c0-77.8 68.2-53.4 110.3-21.8z"
            ></path></svg
          >
        </a>
      </li>
    </ul>
    <p class="text-muted">
      <small
        >&copy 2022–{new Date().getFullYear()}
        <a href="https://mattobee.com/">Matt Obee</a></small
      >
    </p>
    <p class="text-muted" property="accessibilitySummary">
      <small
        >This page conforms to
        <abbr title="Web Content Accessibility Guidelines">WCAG</abbr>
        2.2 at Level
        <abbr title="Double-A">AA</abbr>. Read the <a href="/accessibility"
          >Accessibility Statement</a
        > for details.</small
      >
    </p>
    <p class="text-muted">
      <small
        >This page has a <a
          href="https://www.websitecarbon.com/website/eventua11y-com/"
          >carbon rating of A+</a
        > and is cleaner than 95% of all web pages globally.</small
      >
    </p>
    <p class="text-muted">
      <small
        >Powered by
        <a href="https://astro.build/">Astro</a>,
        <a href="https://www.sanity.io/">Sanity</a>, and
        <a href="https://www.netlify.com/">Netlify</a>. Basic accessibility
        tests by
        <a href="https://github.com/pa11y/pa11y">pa11y</a>/<a
          href="https://github.com/dequelabs/axe-core">axe-core</a
        >.</small
      >
    </p>
    <p class="text-muted">
      <small>
        Privacy-first analytics by
        <a href="https://usefathom.com/ref/VZYIPT">Fathom</a>.
      </small>
    </p>
  </div>
</footer>

<style>
  .logo {
    display: inline-block;
    max-width: 10rem;
  }
  .footer-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--p-space-l);
  }

  @media (max-width: 768px) {
    .footer-grid {
      grid-template-columns: 1fr;
    }
  }
</style>
