---
import Logo from '../images/eventua11y_logo_wordmark_white.svg';
---
<footer id="global-footer" role="contentinfo">
    <div class="container">
        <a href="/" class="d-inline-block"><Logo class="logo" aria-label="Eventua11y" /></a>
        <div class="footer-grid mb-l">
            <div class="panel">
                <p class="text-small">Eventua11y helps you find accessibility conferences, workshops, and events, both online and in-person. From technical workshops that delve into the nitty-gritty of coding for accessibility, to broader conferences discussing policy, advocacy, and inclusive design principles, there's something for everyone.</p>
            </div>
            <div class="panel">
                <p class="text-small">Eventua11y is independently curated by <a href="https://mattobee.com/">Matt Obee</a>, guided by its <a href="/curation-policy">event curation policy</a>. This website is an <a href="https://github.com/eventua11y/eventua11y.com">open source project</a> and you're welcome to contribute by writing code, testing for bugs, contributing ideas, or suggesting events. If you'd like to <a href="https://buymeacoffee.com/mattobee">buy Matt a coffee</a>, that'd be cool too.</p>
            </div>
        </div>
        <ul role="list" class="social flex gap">
            <li>
                <a
                    class="button"
                    itemprop="sameAs"
                    rel="me"
                    href="https://github.com/eventua11y"
                    title="GitHub">
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li>
                <a
                    class="button"
                    itemprop="sameAs"
                    rel="me"
                    href="https://mastodon.social/@eventua11y"
                    title="Mastodon">
                    <i class="fab fa-mastodon"></i>
                </a>
            </li>
            <li>
                <a
                    class="button"
                    itemprop="sameAs"
                    rel="me"
                    href="https://bsky.app/profile/eventua11y.com"
                    title="Bluesky">
                    <i class="fab fa-bluesky"></i>
                </a>
            </li>
        </ul>
        <p class="text-muted">
            <small>&copy 2022–{new Date().getFullYear()} <a href="https://mattobee.com/">Matt Obee</a></small>
        </p>
        <p class="text-muted" property="accessibilitySummary">
            <small>This page conforms to
            <abbr title="Web Content Accessibility Guidelines">WCAG</abbr>
            2.2 at Level
            <abbr title="Double-A">AA</abbr>. Read the <a href="/accessibility">Accessibility Statement</a> for details.</small>
        </p>
        <p class="text-muted"><small>This page has a <a href="https://www.websitecarbon.com/website/eventua11y-com/">carbon rating of A+</a> and is cleaner than 95% of all web pages globally.</small></p>
        <p class="text-muted">
            <small>Powered by
            <a href="https://astro.build/">Astro</a>,
            <a href="https://www.sanity.io/">Sanity</a>,  
            and
            <a href="https://www.netlify.com/">Netlify</a>. Basic accessibility tests by
            <a href="https://github.com/pa11y/pa11y">pa11y</a>/<a href="https://github.com/dequelabs/axe-core">axe-core</a>.</small>
        </p>
        <p class="text-muted">
            <small>
            Privacy-first analytics by
            <a href="https://usefathom.com/ref/VZYIPT">Fathom</a>.
            </small>
        </p>
    </div>
</footer>

<style>
    .logo {
        display: inline-block;
        max-width: 10rem;
    }
    .footer-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--p-space-l);
    }

    @media (max-width: 768px) {
        .footer-grid {
            grid-template-columns: 1fr;
        }
    }
</style>