---
import '@shoelace-style/shoelace/dist/themes/light.css';
import '@shoelace-style/shoelace/dist/themes/dark.css';
import '../styles/styles.css';
import TheFooter from '../components/TheFooter.astro';
import TheHeader from '../components/TheHeader.astro';
const { title } = Astro.props.frontmatter || Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content="Astro" />
    <meta
      name="description"
      content="Calendar of digital accessibility events."
    />
    <meta name="keywords" content="accessibility, a11y, events, calendar" />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="Matt Obee" />
    <meta name="theme-color" content="#650fca" />
    <title>
      {
        title
          ? `${title} - Eventua11y - digital accessibility events calendar`
          : 'Eventua11y - digital accessibility events calendar'
      }
    </title>
    <meta property="og:title" content={title ? `${title} - Eventua11y` : 'Eventua11y'} />
    <meta property="og:description" content="A calendar of digital accessibility events, curated by Matt Obee." />
    <meta property="og:image" content="/favicon/eventua11y_og_min.png" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <script is:inline>
      (function () {
        const storedTheme = localStorage.getItem('theme');
        const prefersDarkScheme = window.matchMedia(
          '(prefers-color-scheme: dark)'
        ).matches;
        if (storedTheme) {
          document.documentElement.setAttribute('data-theme', storedTheme);
        } else if (prefersDarkScheme) {
          document.documentElement.setAttribute('data-theme', 'dark');
        } else {
          document.documentElement.setAttribute('data-theme', 'light');
        }
      })();
    </script>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <script
      defer
      src="https://kit.fontawesome.com/6fc2948f48.js"
      crossorigin="anonymous"></script>
  </head>
  <body>
    <a href="#main" class="skip">
      <i class="fa-solid fa-down-to-line"></i> Skip to main content
    </a>

    <TheHeader />

    <main id="main">
      <slot />
    </main>

    <TheFooter />
    <script
      src="https://cdn.usefathom.com/script.js"
      data-spa="auto"
      data-site="XTSPEPUF"
      defer></script>
  </body>
</html>

<script>
  // Initialize Sentry
  import * as Sentry from '@sentry/vue';
  import '../scripts/main.ts';


  Sentry.init({
    dsn: 'https://63a5e1fe7a29dc3df46923bd277aa87e@o4505086842437632.ingest.us.sentry.io/4508463077588992',
    integrations: [],
    enabled: import.meta.env.PROD,
  });

</script>
