---
import '@shoelace-style/shoelace/dist/themes/light.css';
import '@shoelace-style/shoelace/dist/themes/dark.css';
import '../styles/styles.css';
import TheFooter from '../components/TheFooter.astro';
import TheHeader from '../components/TheHeader.astro';
const { title } = Astro.props.frontmatter || Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content="Astro" />
    <meta
      name="description"
      content="The calendar of digital accessibility and inclusive design events, curated by Matt Obee."
    />
    <meta name="keywords" content="accessibility, a11y, events, calendar" />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="Matt Obee" />
    <meta name="theme-color" content="#650fca" />
    <title>
      {
        title
          ? `${title} - Eventua11y - accessibility and inclusive design events`
          : 'Eventua11y - accessibility and inclusive design events'
      }
    </title>
    <meta
      property="og:title"
      content={title ? `${title} - Eventua11y` : 'Eventua11y'}
    />
    <meta property="og:site_name" content="Eventua11y" />
    <meta property="og:author" content="Matt Obee" />
    <meta
      property="og:description"
      content="The calendar of digital accessibility and inclusive design events, curated by Matt Obee."
    />
    <meta
      property="og:image"
      content="https://eventua11y.com/favicon/eventua11y_og_min.png"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <script is:inline>
      (function () {
        const storedTheme = localStorage.getItem('theme');
        const prefersDarkScheme = window.matchMedia(
          '(prefers-color-scheme: dark)'
        ).matches;
        if (storedTheme) {
          document.documentElement.setAttribute('data-theme', storedTheme);
        } else if (prefersDarkScheme) {
          document.documentElement.setAttribute('data-theme', 'dark');
        } else {
          document.documentElement.setAttribute('data-theme', 'light');
        }
      })();
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <link rel="canonical" href="https://eventua11y.com/" />
    <script
      defer
      src="https://kit.fontawesome.com/6fc2948f48.js"
      crossorigin="anonymous"></script>
  </head>
  <body>
    <a href="#main" class="skip">
      <i class="fa-solid fa-down-to-line"></i> Skip to main content
    </a>

    <TheHeader />

    <main id="main">
      <slot />
    </main>

    <TheFooter />
    <script src="https://cdn.usefathom.com/script.js" data-site="XTSPEPUF" defer
    ></script>
  </body>
</html>

<script>
  // Import Shoelace components after hydration
  import '@shoelace-style/shoelace/dist/components/button/button.js';
  import '@shoelace-style/shoelace/dist/components/badge/badge.js';
  import '@shoelace-style/shoelace/dist/components/icon/icon.js';
  import '@shoelace-style/shoelace/dist/components/dropdown/dropdown.js';
  import '@shoelace-style/shoelace/dist/components/menu/menu.js';
  import '@shoelace-style/shoelace/dist/components/menu-item/menu-item.js';
  import '@shoelace-style/shoelace/dist/components/alert/alert.js';
  import '@shoelace-style/shoelace/dist/components/drawer/drawer.js';
  import '@shoelace-style/shoelace/dist/components/switch/switch.js';
  import '@shoelace-style/shoelace/dist/components/skeleton/skeleton.js';
  import '@shoelace-style/shoelace/dist/components/radio/radio.js';
  import '@shoelace-style/shoelace/dist/components/radio-group/radio-group.js';

  // Set base path for Shoelace assets
  import { setBasePath } from '@shoelace-style/shoelace/dist/utilities/base-path.js';
  setBasePath(
    'https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.12.0/cdn/'
  );

  import '../scripts/main.ts';
</script>
